@import "~assets/scss/vars.scss";

.entranceContainer {
  text-align: center;
  @include gradientBody;
  // position: fixed;

  .innerEntranceContainer {
    @include greenBlueGradient;
    padding: 40px 0;
    @include centerBlock;
    text-align: center;
  }

  .title {
    @include mont;
    font-weight: 700;
    font-size: 32px;
    color: $white;
    letter-spacing: 1.77px;
    line-height: 39px;
  }

  .subtitle {
    @include roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    color: $white;
    line-height: 24px;
  }

  .logo {
    width: 68px;
    height: auto;
  }

  @include placeholder($white);

  .signButton {
    @include mont;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 20px;
    color: $white;
    letter-spacing: 1.11px;
    line-height: 24px;
    background: none;
    background-color: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.1);
    &:hover {
      text-decoration: underline;
    }
  }

  .subsubtitle {
    /* Or switch to sign up: */
    @include roboto;
    font-weight: 300;
    color: $white;
    line-height: 19px;
  }

  a {
    @include roboto;
    font-weight: 300;
    line-height: 19px;
    color: $white;
    text-decoration: underline;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  .footer {
    text-align: center;
    padding-top: 40px;
    display: block;
    // position: absolute;
    // bottom: 10px;
    // transform: translateX(-50%);
    // cursor: pointer;
  }
}
