@import "~assets/scss/vars.scss";

.questionContainer {
  position: relative;

  .successMessage {
    width: 100%;
    height: 100%;
    @include flexCenter;
    position: absolute;
    @include greenBlueGradient;
    color: $white;
    @include mont;
    z-index: 20;
    font-weight: 700;
    margin: -10px;
  }

  .quizSelect {
    border-radius: $radius;
    @include outerShadow;
    background-color: $white;
    @include small;
    margin-left: 271px;
    top: 0;
    z-index: 10000;
    position: absolute;
  }

  .quizSelectHeader {
    background-color: $lightGreen;
    @include roundTop;
    @include borderBottom;
    padding: 10px;
    font-weight: 700;
    @include flexCenter;
  }

  .selectSectionRow {
    cursor: pointer;
    padding: 10px;
    &:hover {
      background-color: $lightestGray;
    }
  }

  .selectSectionRow:last-of-type {
    @include roundBottom;
}

  .askButton {
    @include small;
    cursor: pointer;
    color: $darkGreen;
    margin-right: 10px;
  }
}
